.banner{
    position: relative;
    background-color: var(--cor1);

}

.banner__img{
    height: calc(100vh - 72px);
    width: 100%;
}
.banner__tema{
    font-family: var(--font1);
    color: var(--cor1);
    text-shadow: 1px 4px 4px #000000c9;
    font-size: 5.06rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}