.banner{
    position: relative;
    background-color: var(--cor1);
    display: flex;
}
.banner__container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.banner__img{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    align-items: center;   
}
.banner__tema{
    font-family: var(--font1);
    color: var(--cor1);
    text-shadow: 1px 4px 4px #000000c9;
    font-size: 5.06rem;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 860px) {
    .banner__img{
        height: 40vh;
    }
    .banner__tema{
        font-size: 3rem;
    }       
}
@media screen and (max-width: 665px){
    .banner__tema{
        padding: 1em;
    }
}
@media screen and (max-width: 540px){
    .banner__tema{
        
    }
}