.quem-somos{
    background: var(--cor1);
    padding: 1.32rem;
    text-align: center;
}
.quem-somos__titulo{
    font-family: var(--font1);
    color: var(--cor2);
    font-size: 3.19em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.515)
    ;
}
.quem-somos__descricao{
    font-family: var(--font2);
    color: var(--cor5);
    font-size: 1.75em;
    font-weight: 100;
}
.pessoas{
    display: flex;
    justify-content: space-around;
}
.pessoa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.pessoa__imagem{
    width: 230px;
    height: 230px;

}
.pessoa__imagem--roberta{
    background-image: url(../img/pessoas/roberta.jpg);
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 100%;
    background-position: center, center;
}
.pessoa__imagem--marcela{
    background-image: url(../img/pessoas/marcela.jpg);
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 100%;
    background-position: center, center;
}
.pessoa__imagem--andreia{
    background-image: url(../img/pessoas/andreia.jpg);
    background-position: center, center;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 100%;
}
.pessoa__nome{
    font-family: var(--font1);
    color: var(--cor2);
    font-size: 1.43rem;
    margin-top: 20px;
}
.pessoa__funcao{
    font-family: var(--font2);
    color: var(--cor5);
    font-size: 1.43rem;
    font-weight: 100;
    text-transform: lowercase;
}



@media screen and (max-width: 860px){
    .quem-somos{

    }
    .quem-somos__titulo{
        font-size: 2.5rem;
    }
    .quem-somos__descricao{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 800px){
    .pessoa__imagem{
        width: 150px;
        height: 150px;   
}}

@media screen and (max-width: 580px){
    .pessoa__imagem{
        width: 100px;
        height: 100px;
    }
    .pessoa__funcao{
        font-size: 1rem;
    }
}
@media screen and (max-width: 380px) {
    .quem-somos__descricao{
        font-size: 1rem;
    }
    .pessoas{
        display: flex;
        flex-direction: column;
    }
    .pessoa__imagem{
        width: 200px;
        height: 200px;
    }
    
}